.App {
  text-align: center;
  background-image: url("https://th.bing.com/th/id/R.bef6896a1db1f1731ce117099b5112d8?rik=iYqYRybuJRQKDg&pid=ImgRaw&r=0");
  padding-top: 100px;
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
